MONGO_ROOT_USER='librechat'
MONGO_ROOT_PASS=''
POSTGRES_DB='librechat_rag'
POSTGRES_USER='librechat'
POSTGRES_PASSWORD=''
MEILI_MASTER_KEY=''
JWT_SECRET=''
JWT_REFRESH_SECRET=''
SESSION_SECRET=''
CREDS_KEY=''
CREDS_IV=''
ENTRA_TENANT_ID=''
OPENID_CLIENT_ID=''
OPENID_CLIENT_SECRET=''
OPENID_SESSION_SECRET=''
OPENID_REQUIRED_ROLE='LibreChat.Access'
LITELLM_URL='http://litellm:4000'
LITELLM_API_KEY=''
N8N_WEBHOOK_BASE_URL='https://n8n.organisatie.nl/webhook/librechat'
N8N_API_KEY=''
ADMIN_SESSION_SECRET=''
