MONGO_ROOT_USER='librechat'
MONGO_ROOT_PASS=''
LC_PORT='3080'
APP_TITLE='GovChat-NL'
PUBLIC_BASE_URL='http://localhost:3080'
ADMIN_PANEL_PUBLIC_URL='http://localhost:3100'
LIBRECHAT_CONFIG_PATH='./librechat.yaml'
POSTGRES_DB='librechat_rag'
POSTGRES_USER='librechat'
POSTGRES_PASSWORD=''
MEILI_MASTER_KEY=''
JWT_SECRET=''
JWT_REFRESH_SECRET=''
SESSION_SECRET=''
CREDS_KEY=''
CREDS_IV=''
ENTRA_TENANT_ID=''
OPENID_CLIENT_ID=''
OPENID_CLIENT_SECRET=''
OPENID_SESSION_SECRET=''
OPENID_REQUIRED_ROLE='LibreChat.Access'
LITELLM_URL='http://litellm:4000'
LITELLM_API_KEY=''
OPENAI_API_KEY=''
LITELLM_CONFIG_PATH='./litellm/config.yaml'
N8N_OPENAI_BRIDGE_BEARER_TOKEN='change_me_bridge_token'
LITELLM_POSTGRES_PASSWORD=''
LITELLM_MASTER_KEY=''
LITELLM_SALT_KEY=''
LITELLM_UI_USERNAME='litellmadmin'
LITELLM_UI_PASSWORD=''
LITELLM_PORT='4000'
LITELLM_LOG_LEVEL='WARNING'
LITELLM_NUM_WORKERS='1'
LITELLM_DB_POOL_LIMIT='10'
LITELLM_DB_TIMEOUT='30'
ADMIN_SESSION_SECRET=''
GOVCHAT_ADMIN_PASSWORD=''
GOVCHAT_OVERLAY_CORS_ORIGIN='https://chat.organisatie.nl'
GOVCHAT_OVERLAY_ADMIN_PORT='3002'

# n8n (verplicht als Versimpelaar via n8n draait)
N8N_VERSION='2.25.7'
N8N_POSTGRES_PASSWORD=''
N8N_ENCRYPTION_KEY=''
N8N_WEBHOOK_TOKEN='change_me_very_long_random_token'
N8N_RUNNERS_AUTH_TOKEN='change_me_another_very_long_random_token'
N8N_LOG_LEVEL='warn'
AGENTS_RAW_BASE_URL='https://raw.githubusercontent.com/GovChat-NL/GovChat-NL-Agents/main/n8n/workflows'
AGENTS_WORKFLOW_FILES='versimpelaar-litellm.json,orchestrator-litellm.json'
TZ='Europe/Amsterdam'
